{% extends '::base.html.twig' %}

{% block toolbar %}
    <a class="left" data-toggle="side-menu">
        <i class="fa fa-bars"></i>
    </a>
    <a class="right" data-toggle="remove">
        Suppr
    </a>
    Lieux
{% endblock %}

{% block body %}
    <form class="search-form" action="{{ path('ferus_places_new') }}" method="get">
        <input type="text" placeholder="Nouveau" name="name">
    </form>
    <ul>
        {% for place in places %}
            <li data-remove="lol">
                <a href="{{ path('ferus_places_show', {id: place.id}) }}">
                    {{ place }}
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}