{% extends '::admin.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('ferus_user_admin') }}">Gestion des utilisateurs</a></li>
    <li class="active">Editer</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Editer l'utilisateur <em>{{ user.username }}</em></h1>
            <hr/>
            {% include 'FerusUserBundle:Admin:form.html.twig' %}
        </div>
    </div>
 {% endblock %}