{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1><i class="fa fa-edit"></i> Modifier une soirée</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 event-form">
            <a class="btn btn-default btn-xs" href="{{ path('ferus_event') }}" style="margin-bottom: 20px;">
                <i class="fa fa-arrow-left"></i> Retour aux soirées
            </a>
            {% include 'FerusProductBundle:Event:form.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/form/event_collection.js') }}"></script>
{% endblock %}