{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-default btn-xs" href="{{ path('ferus_product') }}"><i class="fa fa-arrow-left"></i> Retour</a>
            <h2>Editer un produit : <em>{{ product.name }}</em></h2>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            {% include 'FerusProductBundle:Product:form.html.twig' %}
        </div>
    </div>
{% endblock %}