{% extends '::base.html.twig' %}

{% block toolbar %}
    <a class="left">
        <i class="fa fa-bars"></i>
    </a>
    <a class="right" data-toggle="remove">
        Suppr
    </a>
    Produits
{% endblock %}

{% block body %}
    <form class="search-form" action="{{ path('ferus_categories_new') }}" method="get">
        <input type="text" placeholder="Nouveau" name="name">
    </form>
    <ul>
        {% for product in products %}
            <li data-remove="lol">
                <a>
                    {{ product }}
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}