{% extends '::base.html.twig' %}

{% block toolbar %}
    {% if category is null %}
        <a class="left" href="{{ path('ferus_products') }}">
            <i class="fa fa-chevron-left"></i>
        </a>
    {% else %}
        <a class="left" href="{{ path('ferus_categories_show', {id:category}) }}">
            <i class="fa fa-chevron-left"></i>
        </a>
    {% endif %}

    Nouveau produit
{% endblock %}

{% block body %}
    {% include 'FerusProductBundle:Product:form.html.twig' %}
{% endblock %}