{% extends '::base.html.twig' %}

{% block toolbar %}
    <a class="left" href="{{ path('ferus_categories_show', {id:product.category.id}) }}">
        <i class="fa fa-chevron-left"></i>
    </a>
    {{ product }}
{% endblock %}

{% block body %}
{% endblock %}